@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 63 26% 95%;
    --foreground: 63 5% 10%;
    --card: 63 26% 90%;
    --card-foreground: 63 5% 15%;
    --popover: 63 26% 95%;
    --popover-foreground: 63 95% 10%;
    --primary: 63 100% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 63 26% 77%;
    --secondary-foreground: 0 0% 0%;
    --muted: 25 26% 85%;
    --muted-foreground: 63 5% 40%;
    --accent: 25 26% 80%;
    --accent-foreground: 63 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 63 5% 90%;
    --border: 63 26% 77%;
    --input: 63 26% 50%;
    --ring: 63 100% 15%;
    --radius: 0.5rem;

    /* Sidebar colors */
    --sidebar-background: 63 26% 90%;
    --sidebar-foreground: 63 5% 10%;
    --sidebar-primary: 63 100% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 63 26% 70%;
    --sidebar-accent-foreground: 63 5% 15%;
    --sidebar-border: 63 26% 70%;
    --sidebar-ring: 63 100% 15%;
  }

  .dark {
    --background: 63 26% 10%;
    --foreground: 63 5% 90%;
    --card: 63 26% 10%;
    --card-foreground: 63 5% 90%;
    --popover: 63 26% 5%;
    --popover-foreground: 63 5% 90%;
    --primary: 63 100% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 63 26% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 25 26% 25%;
    --muted-foreground: 63 5% 65%;
    --accent: 25 26% 25%;
    --accent-foreground: 63 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 63 5% 90%;
    --border: 63 26% 50%;
    --input: 63 26% 50%;
    --ring: 63 100% 15%;
    --radius: 0.5rem;

    /* Dark sidebar colors */
    --sidebar-background: 63 5% 15%;
    --sidebar-foreground: 63 5% 90%;
    --sidebar-primary: 63 100% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 63 26% 30%;
    --sidebar-accent-foreground: 63 5% 90%;
    --sidebar-border: 63 26% 40%;
    --sidebar-ring: 63 100% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
